<section id="educacao">
    <h2 class="educacao-title">Formação Acadêmica</h2>

    <div class="educacao-item">
        <h3>Tecnólogo em Desenvolvimento de Jogos Digitais</h3>
        <p><strong>Instituição:</strong> FAESA</p>
        <p><strong>Ano de Conclusão:</strong> 2009</p>
    </div>
    <div class="educacao-item">
        <h3>Especialização em Educação e Novas Tecnologias</h3>
        <p><strong>Instituição:</strong> FABRA</p>
        <p><strong>Ano de Conclusão:</strong> 2021</p>
    </div>
    <!-- Adicione mais blocos de educação conforme necessário -->
</section>
