<header>
    <p><img src="/me.jpg" alt="Foto do perfil" class="profile-pic"></p>
    <h1>Saulo Caliman Gomes</h1>
    <p>Fullstack | Desenvolvedor de Software & Jogos | Especialista em Realidade Virtual & Realidade Aumentada
    </p>
    <ul class="social-links">
        <li><a href="https://www.linkedin.com/in/saulo-caliman-gomes-7972483a/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
        <li><a href="http://lattes.cnpq.br/9488850106741461" target="_blank"><i class="fas fa-graduation-cap"></i> Lattes</a></li>
        <li><a href="https://github.com/alosaulo" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
        <li><a href="https://alosaulo.itch.io/" target="_blank"><i class="fas fa-gamepad"></i> Itch.io</a></li>
        <li><a href="https://mapa.cultura.es.gov.br/agente/5369" target="_blank"><i class="fas fa-theater-masks"></i> Mapa Cultural</a></li>
    </ul>
    <nav class="navbar">
        <ul>
          <li><a class="nav-link" routerLink="/sobre" routerLinkActive="active">Sobre Mim</a></li>
          <li><a class="nav-link" routerLink="/experiencia" routerLinkActive="active">Experiência</a></li>
          <li><a class="nav-link" routerLink="/certificados" routerLinkActive="active">Certificados</a></li>
          <li><a class="nav-link" routerLink="/contato" routerLinkActive="active">Contato</a></li>
          <li><a class="nav-link" routerLink="/educacao" routerLinkActive="active">Educação</a></li>
          <li><a class="nav-link" routerLink="/habilidades" routerLinkActive="active">Habilidades</a></li>
          <li><a class="nav-link" routerLink="/projetos" routerLinkActive="active">Projetos</a></li>
        </ul>
      </nav>            
</header>
<router-outlet></router-outlet>