<section id="sobre-mim">
    <h1>Sobre Mim</h1>

    <p>
        Sou formado em Desenvolvimento de Jogos Digitais e possuo mais de uma década de experiência nas
        áreas de
        Desenvolvimento de Sistemas e Jogos. Comecei minha carreira com um estágio que me permitiu aprimorar
        minhas habilidades em asp.net para desenvolvimento de sistemas e usar o SQL Server para gestão de
        bancos
        de dados. Desde então, participei ativamente de diversos projetos.
        <br>
        Além da minha experiência profissional, tenho uma sólida trajetória na área educacional, tendo
        lecionado
        no Ensino Superior e atualmente atuando na Educação Técnica. Fora da sala de aula, participo
        ativamente
        de projetos tecnológicos, abrangendo realidade virtual, realidade aumentada, jogos educativos,
        simulações e sistemas web. Nesses projetos, coordeno e oriento alunos, além de atuar como
        programador.
        <br>
        Em suma, minha carreira evidencia uma combinação robusta de expertise técnica em desenvolvimento de
        sistemas e jogos com uma vasta experiência em educação e mentoria.
    </p>
</section>