.section-title {
    text-align: center;
}

.habilidade-area {
    background-color: var(--secondary-color);
    border-bottom: 1px solid #ccc;
}

.habilidade-area h3 {
    color: var(--third-color);
    margin-bottom: 10px;
}

.list-skills {
    list-style-type: none;
    padding-left: 0;
}

.list-skills li {
    margin-bottom: 8px;
    font-size: 1em;
}