<section id="projetos">
  <h2 class="section-title">Participações em Projetos</h2>
  <div *ngIf="projetos.length > 0; else semProjetos">
    <div class="job" *ngFor="let projeto of projetos">
      <h3 class="job-title">{{ projeto.titulo }}</h3>
      <p class="job-details">
        <strong>{{ projeto.instituicao }}</strong>
        <!-- Removido: | {{ projeto.periodo }} -->
      </p>
      <p class="description" [innerHTML]="projeto.descricao"></p>
      <div *ngIf="projeto.imagens?.length" class="projeto-imagens mb-2">
        <img *ngFor="let img of projeto.imagens" [src]="'/imagens/' + img" [alt]="projeto.titulo" class="projeto-img"/>
      </div>
    </div>
  </div>
  <ng-template #semProjetos>
    <p>Nenhum projeto cadastrado ainda.</p>
  </ng-template>
</section>