.job {
    padding: 20px; /* Preenchimento interno */
}

.job-title {
    color: var(--third-color); /* Cor do título do job */
    margin-bottom: 10px; /* Espaçamento após o título */
}

.job-details {
    font-size: 0.9em; /* Tamanho da fonte menor para detalhes */
    color: var(--main-text-color); /* Cor do texto */
    margin-bottom: 15px; /* Espaçamento após os detalhes */
}


.job-title, .job-details, .description, .skills {
    margin-bottom: 20px;
}

.projeto-imagens {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 10px;
  place-self: center
}
.projeto-img {
  max-width: 240px;
  height: auto;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.07);
}