.section-title {
    text-align: center;
    color: var(--main-text-color);
}

.certificados-lista {
    list-style: none;
    padding: 0;
}

.certificado-item {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.certificado-item h3 {
    color: var(--main-text-color);
    margin: 10px 0;
}

.certificado-item p {
    margin: 5px 0;
}
