<section id="certificados" *ngIf="certificados">
    <h2 class="section-title">Certificados</h2>
    <ul class="certificados-lista">
        <li class="certificado-item" *ngFor="let cert of certificados">
            <h3>{{ cert.titulo }}</h3>
            <p><strong>Instituição:</strong> {{ cert.instituicao }}</p>
            <p *ngIf="cert.data_conclusao"><strong>Ano de Conclusão:</strong> {{ cert.data_conclusao | date: 'yyyy' }}</p>
            <p *ngIf="cert.carga_horaria"><strong>Carga Horária:</strong> {{ cert.carga_horaria }}</p>
        </li>
    </ul>
</section>
