<section id="certificados">
    <h2 class="section-title">Certificados</h2>
    <ul class="certificados-lista">
        <li class="certificado-item">
            <h3>Good Game Brasil – Game Jam</h3>
            <p><strong>Instituição:</strong> Embaixada do Brasil em Helsinque</p>
            <p><strong>Ano de Conclusão:</strong> 2021</p>
        </li>
        <li class="certificado-item">
            <h3>ASP NET CORE, MVC, C#, Angular, ChatGPT & EF Crash Course</h3>
            <p><strong>Instituição:</strong> Udemy</p>
            <p><strong>Ano de Conclusão:</strong> 2023</p>
        </li>
        <li class="certificado-item">
            <h3>Modelagem de Dados UML</h3>
            <p><strong>Instituição:</strong> Udemy</p>
            <p><strong>Instrutor:</strong>M.Sc Nelio Alves</p>
        </li>
    </ul>
</section>
