:root {
    --main-bg-color: #eaeaea;
    --main-text-color: #333333;
    --secondary-color: #F7F7F7;
    --third-color: #007BFF;
    --highlight-color: #9370DB;
    --link-color: #004085;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: Arial, sans-serif;
}

h1, h2, p {
    margin: 10px 0;
}

.highlight {
    color: var(--highlight-color); /* Cor de destaque */
    font-weight: bold; /* Negrito */
}

h1 {
    text-align: center;
}

section{
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.section-title {
    text-align: center;
    color: var(--third-color);
}
